.card:hover{
    transition: 0.5s;
    transform: scale(1.1); 
    z-index: 1;
}

.card:not(:hover){
    transition: 0.5s;
}

.card-body{
    display: grid;
    grid-template-rows: 27px auto auto;
}

.firstRow{
    display: grid;
    grid-template-columns: 50% 50%;
}